---
import Section from "../components/Section.astro";
---

<Section
    title="Accesories"
    color="black"
>
    <img class="object-center object-cover h-full w-full" src="/Accesories.avif" slot="background">
    </img>

    <div class="pb-20" slot="footer">
        <a 
        class="bg-white text-gray-600 text-sm rounded font-medium px-20 py-3 hover:bg-gray-800
        hover:text-white" 
        href="#">
            Compre Ahora
        </a>
    </div>
</Section>