---
import Section from "../components/Section.astro";
---

<Section 
    title="Model X"
    subtitle=`Desde $68,590*`
    subtitle2="Después del crédito fiscal federal y el cálculo estimado. Ahorra gasolina."
    color="black"
    parrafo="*El precio antes de incentivos y ahorros es de $79,990, sin incluir impuestos ni tarifas. Sujeto a cambios."
>
    <img class="object-center object-cover h-full w-full" src="/modelX.avif" slot="background">
    </img>

    <div class="gap-x-4 flex mx-auto" slot="footer">
    <a 
    class="bg-white text-gray-600 text-sm rounded font-semibold px-16 py-2 hover:bg-gray-700
    hover:text-white" 
    href="#">
        Pedido Personalizado
    </a>

    <a 
    class="text-white text-sm rounded font-semibold px-16 py-2
    bg-gray-600 hover:text-black hover:bg-white items-center justify-center inline-flex" 
    href="#">
        Demostración
    </a>

    </div>
</Section>